# 站点标题
# 默认值：Platform
REACT_APP_TITLE_SITE=
# 站点名称
# 默认值：Platform
REACT_APP_TITLE_HEADER=
# 前端基路径（部署在子路径时使用，例如 /platform/）
# 默认值：/
VITE_BASE_PATH=
# Gateway 服务地址（例如 http://localhost:5008）
REACT_APP_GATEWAY_BASE_URL=
